.App-logo {
  animation: spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-intro {
  font-size: large;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.result-header {
  font: 15px;
  color: #0866ff;
  display: flex;
  justify-content: center;
}

.result-list {
  display: flex;
  justify-content: center;
  color: #011833;
}

.question-no {
  color: #2ab8d1;
  font-size: 18px;
  font-weight: 400;
}

.answer-no {
  font-size: 18px;
  font-weight: 400;
  color: #222;
}

.skip-btn-row {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.skip-btn {
  border: 1px solid #2ab8d1;
  padding: 12px 22px;
  color: #2ab8d1;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 50px;
  cursor: pointer;
  border-radius: 4px;
}
